<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('explore')">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>



<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>


<div class="content">
    <div class="outer-grid-container">
        <div class="heading-query">
            <div class="header">
                <h1 th:text="${heading}">All Games</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="detail-col-img">

            <img th:src="@{|/games/${game.id}|}" alt="png" height="400" width="275"/>
            </div>
            <div class="detail-col">
                <div><h2 th:text="${game.name}"></h2></div>
                <!--switch statement to check for a null release date-->
                <div th:switch="${game.releaseDate}" class="game-details">
                    <span th:case="null">Release Date: Unknown</span>
                    <span th:case="*" th:text="${'Release Date: ' + #dates.format(game.releaseDate, 'dd-MMM-yyyy')}"></span>
                </div>
                <div class="game-details" th:text="${'Genre: ' + game.genre.name}">Genre</div>


                <div class="button-game-details">
<!--                    <div class="button-wrapper">-->
<!--                        <form th:action="@{|/games/favorite/${game.id}|}" method="post">-->
<!--                            <button type="submit" th:class="(${game.favorite}? 'un' : '') + 'favorite'"-->
<!--                            th:text="(${game.favorite}? 'Un-' : '') + 'Favorite'"></button>-->
<!--                        </form>-->
<!--                    </div>-->
                    <div class="button-wrapper">
                        <form th:action="@{${action}}" method="post">

                            <button class="edit-button" type="submit" th:text="'Edit'"></button>

                        </form>
                    </div>
                    <div class="button-wrapper">
                        <form th:action="@{${delete}}" method="post">

                            <button th:onclick="return myFunction()" type="submit" class="edit-button">Delete</button>

                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
function myFunction() {
  return confirm("Are you sure you want to delete this game?");
}
</script>

<div th:replace="layout :: scripts"></div>



</body>
</html>