@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body {
    font-family: 'varela round', sans-serif;
    background-color: #313131;
}


.upload-form input[type=text], select {
  width: 50%;
  padding: 5px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button{

    color:skyblue;
}

.edit-button{
    width:75px;
    text-size:15px;
    float:left;
}

#name{
    font-size:15px;
}

.topnav a.active {

  background-color: #1f1f1f;
  color: white;
}

.image-name{
    text-decoration:none;
    color:white;
}

.game-container{

    margin-top:100px;
    margin-left:270px;
    margin-right:130px;
}

.genre-container{
  margin-top:85px;

}

#heading{
margin-top:150px;
}

#name{
       color: skyblue;
        align:center;
}

.menu{
    overflow:hidden;
    /*background:#5f6a70;*/

    background:#1f1f1f;
    top:0%;
    padding-top:5px;
    padding-bottom:10px;
    width: 99%;
    margin:0;
    align:center;

    position:fixed;
}

nav ul li.active, nav ul li:hover {
    background-color: inherit;
}



.menu-list{
    list-style-type: none;
    overflow: hidden;
    text-align: right;
}

.menu-list li{
    display: inline-block;
    font-family:OCR A Std, monospace;
}



.menu-list li a{
    display:inline-block;
    color: white;
    text-size:45px;
    text-decoration: none;
    padding: 5px 16px;
    text-align:center;

    font-family:  'varela round', sans-serif;
}

#fav{
    margin-right:35px;
}

.menu-list li a:hover{
    color: skyblue;
}

.logo {
    float: left;
    margin: 0;
    margin-left: 35px;;
    text-align:center;
    font-family:OCR A Std, monospace;
    color: skyblue;
    text-decoration: none;
    font-size:30px;
}



.search{
    position:relative;
    display: flex;
    width:100%;
    margin-top:5px;
}

.searchTerm{
    float:left;
    width:85%;
    border: 3px solid skyblue;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size:18px;

}

.searchTerm:focus{
  color: #222d33;
}

.searchButton {
  float:left;
  width: 40px;
  height: 36px;
  border: 2px solid skyblue;
  background: skyblue;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 22px;

}

/*Resize the wrap to see the search bar change!*/

.wrap{
  width: 30%;
  position:absolute;
  left: 45%;
  transform: translate(-50%, -50%);

  padding-bottom:15px;
}



#searchForm{
    width:100%;
    float:left;
}

.searchDiv{

}

.upload-container{
    border-radius: 5px;
      background-color: #f2f2f2;
      padding: 0px 20px;
}

.uploadform{
    padding:20px 10px 10px 10px;
}

.col {
  float:left;
  width: 29%;
  padding: 20px;

}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;

}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .col {
    width: 40%;
  }
  .game-container{

      margin-top:100px;
      margin-left:100px;
      margin-right:130px;
  }
}

.game-details{
    padding-bottom:7px;
    padding-left:15;
    padding-right:15;
}

.button-game-details{

}

.detail-col {
  float:left;
  width: 30%;
  padding: 20px;

}

.favorite{
  width:100px;
}

.unfavorite{
  width:100px;
  border-radius:5px;

}