@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body {
    font-family: 'varela round', sans-serif;
    background-color: #f6f5f5;
    padding-top:90.91px;
}


.upload-form input[type=text], select {
  width: 50%;
  padding: 5px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button{

    color:skyblue;
}

.edit-button{
    width:100px;
    text-size:15px;
    float:left;

}

.button-wrapper{
  margin-bottom:15px;
  width:auto;
  height:20px;
}

#name{
    font-size:15px;
}

.topnav a.active {

  background-color: #1f1f1f;

  color: white;
}

.nav{
  margin-left:auto;
  margin-right:auto;
  width:1230px;
}

.image-name{
    text-decoration:none;
    color:black;

}



.game-name{
  padding:5px 10px 0px 10px;
  text-align:left;
}

.genre-container{
  margin-top:85px;

}

.flashcontainer{

  width:85%
  align:center;
}


#name{
       color: skyblue;
        align:center;
}

.menu{

    /*background:#5f6a70;*/
    z-index:1;
    background:#1f1f1f;
    top:0%;
    padding-top:5px;
    padding-bottom:10px;
    width: 100%;
    margin-left:-8px;
    align:center;

    position:fixed;
}

nav ul li.active, nav ul li:hover {
    background-color: inherit;
}



.menu-list{
    list-style-type: none;

    text-align: right;
}

.menu-list li{
    display: inline-block;
    font-family:OCR A Std, monospace;
}



.menu-list li a{
    display:inline-block;
    color: white;
    text-size:45px;
    text-decoration: none;
    padding: 5px 16px;
    text-align:center;

    font-family:  'varela round', sans-serif;
}

#fav{

}

.menu-list li a:hover{
    color: skyblue;
}

.logo {
    float: left;
    margin: 0;

    text-align:center;
    font-family:OCR A Std, monospace;
    color: skyblue;
    text-decoration: none;
    font-size:30px;
}



.search{
    position:relative;
    display: flex;
    width:250px;
    margin-top:5px;
}

.search-box-and-button{

}

.searchTerm{

    float:left;
    width:70%;
    border: 3px solid skyblue;
    border-right: none;
    padding: 5px;
    padding-left:13px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size:14px;
    margin-left:45px;

}

.searchTerm:focus{
  color: #222d33;
}

.search-button{
  padding-right:10px;
}

.searchButton {

  width: 40px;
  height: 36px;
  border-style: solid;
  border-color: skyblue;
  border-width:2px 2px 2px 0px;
  background: skyblue;
  text-align: left;
  color: #fff;
  border-radius:0px 5px 5px 0px;
  cursor: pointer;
  font-size: 25px;


}

/*Resize the wrap to see the search bar change!*/

.wrap{
  width: 40%;
  position:absolute;
  left: 45%;
  transform: translate(-50%, -50%);
  padding-left:50px;
  padding-bottom:15px;
}



#searchForm{
    width:500px;
    float:left;
}

.searchDiv{

}

.searchShow{
  display:block;
}

.upload-container{
    border-radius: 5px;
      background-color: #f2f2f2;
      padding: 0px 20px;
}

.uploadform{
    padding:10px 10px 10px 10px;
}

.col {
  float:left;

  padding-left:10px;

}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;

}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .col {
    width: 40%;
  }
  .game-container{

      margin-left:100px;
      margin-right:130px;
  }
}

.game-details{
    padding-bottom:20px;
    padding-left:15;
    padding-right:15;
}

.button-game-details{
  width:100px;

}

.detail-col {
float:left;
width:300px;

}

.detail-col-img{
  padding-right:85px;
  float:left;
  width:275px;
  margin:0;
}

.favorite{
  width:100px;
}

.unfavorite{
  width:100px;
  border-radius:5px;

}

.flash {


    padding: 1rem 1rem;
    border-radius: 4px;
    font-size: 1.1rem;
}

.flash.success {
    background-color: #7f9e40;
    color: #f3f6ee;
}

.flash.failure {
    background-color: #ac4343;
    color: #f2e2e2;
}

.closebutton {
  margin-left: 15px;
  margin-right: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  padding-top:16px;
}

.closebutton:hover{
  color:black;
  font-size:25px;
}

.row{
  margin-left:auto;
  margin-right:auto;
  border: 1px solid grey;
  border-radius:5px;
  padding:20px;
  box-shadow: 5px 10px 18px #888888;
  margin-top:30px;
  margin-bottom:30px;
  width:700px;
}

.game{
width:100%;
padding:0px 0px 10px 0px;

box-shadow: 5px 10px 18px #888888;
max-width:200px;
height:365px;
}



.outer-grid-container{
    margin-left:auto;
    margin-right:auto;
    width:1230px;

}

.header{
  padding-top:0px;
  width:100%;
  line-height:1.1;
}

.header h1{
  display: inline-block;
  font-size:34px;
  line-height:30px;
  font-weight:700;
}



hr{
  width:100%;
}

.filters-wrapper{
  border: 1px solid #e0e0e0;
  background-color:#fff;
}

.filters-wrapper-wrapper{
  padding-top:10px;
}

.filters-header{
  position:relative;
  padding:10px 20px 10px 20px;
}

.filters{
  width:22%;
  float:left;
}

.filters-title{
  font-size:17px;
  font-weight:500;


}

.clear-button{
  background:transparent;
  color:skyblue;
  vertical-align:top;
  border:none;
  font-size:14px;
}

.clear-button:hover{
  color:#76b4cc;
}

.filter-clear-button{
  vertical-align:middle;
  float:right;
}



.filter-genre-ul{
    display:block;
    list-style:none;
    padding:0px 20px 0px 20px;
}

.filter-genre-ul li{

    padding:0px 0px 10px 0px;
}

.card-grid-container{
  width:100%;
  max-width:222px;
  display:inline-grid;
  grid-template-columns:auto auto auto;
  grid-column-gap:120px;
  grid-row-gap:25px;

}

.cards{
  float:left;
  padding:10px 0 0 120px;
  margin-bottom:50px;
}

.content{
  overflow:hidden;
}

.sort-box{
  width:200px;
}

.sort-container{
  float:right;
  padding-top:22px;
}

.count{
  font-size:13px;
  color:grey;
}



.card-grid-container a{
  text-decoration:none;
  color:black;
}

.genre-input{
  width:150px;
}

.dropbtn {
  background-color: #1f1f1f;
  color: white;
  padding: 5px 16px;

  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family:  'varela round', sans-serif;
}

.dropbtn:hover, .dropbtn:focus {
  color:skyblue;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: left;
}

.dropdown-content {
  display:none;
  position: absolute;
  background-color: #1f1f1f;

  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

#myDropdown{
  z-index:1;
}

.dropdown a:hover {}

.show {display: block;}



.login-input{
   margin-left:auto;
   margin-right:auto;
   width:250px;
   height:290px;
    background:
   border: 1px solid #ccc;
   border-radius: 5px;

margin-bottom:50px;
margin-top:100px;
    box-shadow: 5px 10px 18px #888888;
}

.login-input-error{
   margin-left:auto;
   margin-right:auto;
   width:250px;
   height:315px;
    background:
   border: 1px solid #ccc;
   border-radius: 5px;

margin-bottom:50px;
margin-top:100px;
    box-shadow: 5px 10px 18px #888888;
}

.create-input{
   margin-left:auto;
   margin-right:auto;
   width:250px;
   height:200px;
   background:
   border: 1px solid #ccc;
   border-radius: 5px;
   margin-bottom:50px;
   margin-top:100px;
   box-shadow: 5px 10px 18px #888888;
}

.input{
  padding-top:15px;
  padding-left:25px;
}

.login-input input{
  margin-left:auto;
    margin-right:auto;
  width:200px;
}

#username{
  background: d8d8d8;
        border: none;
        padding: 5px;
        box-sizing: border-box;
        width: 200px;
        text-indent: 5px;
        font-size:15px;
        position: relative;

}
#password{
        background: d8d8d8;
        border: none;
        padding: 5px;
        box-sizing: border-box;
        width: 200px;
        text-indent: 5px;
        font-size:15px;
        position: relative;

}

#signin{
  background:skyblue;
  width: 200px;
  border:none;
  font-size:15px;
  color:white;
  height:32px;

  border:1px solid skyblue;
  border-radius:5px;
}

.input-header{
  padding-left:25px;
  padding-top:25px;
  padding-bottom:0;
  margin:0;
}

#input-header{
  margin:0;
  color:#919191;
}

#create-account{
  text-decoration: none;
  font-size:15px;
  color:#2b2b2b;
  padding-top:7px;
  padding-bottom:7px;
  padding-left:25px;
  padding-right:25px;
  background:#bfbfbf;
  margin-left:25px;
  margin-top:30px;
  border:1px solid #bfbfbf;
  border-radius:5px;
}

.createWrapper{
  height:30px;
  padding-top:15px;
}

#login-hr{
  width:172px;
  padding-left:25px;
  border: .5px solid #ababab;
  opacity: 0.4;
}

#signin{
  margin-bottom:6px;
}

.credentialsError{
  padding-left:25px;
  padding-top:12px;
}

.credentialsErrorText{
  color:red;
}

.error-content{
  margin-left:auto;
  margin-right:auto;
  width:250px;


}