<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('explore')"></head>
<body>
<div th:replace="layout :: nav"></div>


<div class="game-container">
    <div class="row">
        <div class="genre-details">
            <h1 th:text="${genre.name}"></h1>
            <div class="col" th:each="game : ${genre.games}">
                <a th:href="@{|/details/${game.id}|}">
                    <img th:src="@{|/games/${game.id}|}" alt="png" height="200" width="150"/>
                    <div th:href="@{|/games/${game.id}|}" th:text="${game.name}" class="image-name">Name</div>
                </a>
            </div>
        </div>
    </div>
</div>



<!--<div th:fragment="flash" th:if="${flash != null}" class="container">-->
<!--    <i class="right material-icons" data-close="">close</i>-->
<!--    <div th:classappend="${#strings.toLowerCase(flash.status)}" th:text="${flash.message}" class="flash"></div>-->
<!--</div>-->



</body>
</html>